/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[6].use[0]!./src/components/Banner.vue?vue&type=style&index=0&id=a2fea148&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/

h1[data-v-a2fea148]{
  text-align: center;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[6].use[0]!./src/components/MyHeader.vue?vue&type=style&index=0&id=898691ee&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/

section[data-v-898691ee]{
    padding:  10px 5px;
}
.dialog-footer[data-v-898691ee]{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[6].use[0]!./src/components/MyTable.vue?vue&type=style&index=0&id=72df8a82&scoped=true&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************************/

.changePage[data-v-72df8a82]{
    margin-top: 25px;
    margin-left: 65%;
}

